
@media (max-width:760px){
    nav{
        display: none;
    }
    #menu-mobile{
        display: block;
        right: 20px;
    }
    #menu-1 img{
        display: none;
    }
}

@media (max-width:540px){
    input,textarea{
        width: 400px;
    }
}
@media(max-width:430px){
    input,textarea{
        width: 350px;
    }
}

@media(max-width:360px){
    input,textarea{
        width: 300px;
    }
}